.movieList {
	width: 100%;
	margin: 0 auto;
	vertical-align: center;
	align-items: center;
}

.text {
	width: 100%;
	margin: auto;
	padding: 2rem;
	text-align: center;
	font-size: 2rem;
	color: #ed234f;
}
